<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gacha.mapper.GameMapper">
	
 
	<update id="updateGameImage" parameterType="gacha.model.Game">
	update item set image=#{image} where name = #{name}
	</update>
	
	<delete id="deleteGame" parameterType="String">
	delete from game where name=#{name}
	</delete>
	
	<select id="getGameList" resultType="gacha.model.Game">
	select name,image from game
	</select>
	
	
	<insert id="inputGame" parameterType="gacha.model.Game">
	insert into game values(#{name},#{image})
	</insert> 
	

	
</mapper>





